# --- LLM setup settings ---
# You can define different models for simple and difficult tasks, but corresponding
# langgraph module must be installed (e.g. langgraph-openai).
# Must specify provider name and then model name: {provider}:{model_name}
# Either of next two variables can be empty, but not at the same time

# Some models I used:
# - openai provider: qwen2.5-7b-instruct (local with base_url)
# - mistralai provider: mistral-large-latest, mistral-small-latest (almost useless)
# - groq provider: llama-3.3-70b-versatile, openai/gpt-oss-120b, qwen/qwen3-32b

SIMPLE_CHAT_MODEL_NAME="provider:model-name"
THINKING_CHAT_MODEL_NAME=
# If needed for model initialization
CONNECT_BASE_URL="http://10.0.0.0/v1"
# Maximum amount of parallel processes supported by LLM model. One is default.
# LLMs accessed by api usually have problems with 
MAXIMUM_PARALLEL_PROCESSES=1

# --- API keys for LLMs ---
OPENAI_API_KEY="openai-key"
MISTRAL_API_KEY="mistral-key"
GROQ_API_KEY="groq-key"

# --- Lang Smith settings ---
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY="langsmith-api-key"
LANGSMITH_PROJECT="langsmith-project-name"

# --- Debugging tools ---
# Whether to cache and use chached results for langgraph outputs. 
# Works with _save_stage.dev_cache decorator.
DEV_CACHE=0